
//Basic theme v1

$body-background-grd1: #fd776c;
$body-background-grd2: #fe856a;

$page-main-font: Roboto, Helvetica, Arial, sans-serif;
$page-background: #fff;
$page-text-color: #939393;
$page-link-color: #939393;

$form-search-background: #f2f2f2;
$form-result-error-background: red;
$form-result-error-color: white;
$result-page-fade-in: 1.5s;

$result-header-back: #777777;
$result-main-color: #e49682;
$form-result-color: #939393;

$switch-border-color: black;
$switch-toggle-color: #f2f2f2;

$weather-link-decoration: none;
