
@import '../../../themes/basic';
@import '../../../themes/switch';

.weather-settings {
  width: 100px;
  float: right;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  padding-top: 9px;
}
